@import url("https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap');

html {
	font-size: 1rem;
}

body {
	width: 85%;
	margin: 0 auto;
}

.header-text {
	margin-top: 4em;
}

@include media-breakpoint-up(sm) {
	html {
		font-size: 1.2rem;
	}
}

@include media-breakpoint-up(md) {
	html {
		font-size: 1.4rem;
	}
}

@include media-breakpoint-up(lg) {
	html {
		font-size: 1.6rem;
	}
}

.font-nav {
	font-family: "Freckle Face", cursive;
	font-size: 2em;
}

.font-h1 {
	font-family: 'Rammetto One', cursive;
	color: darkgoldenrod;
	font-size: 6em;
	text-shadow: -19px 11px 5px rgba(255,243,153,0.92); 
}

.pic-1:hover {
	width: 110%;
	border: groove 4px gold;
	box-shadow: -6px 3px 10px 14px rgba(255,254,179,0.8);
}

.border {
	border: 15px double #A2A41A;
	border-radius: 15px 28px 19px 17px;
}

.font-footer {
	font-family: 'Fredoka One';
}

.font-com {
	font-family: 'Caveat';
	background-color: rgb(235, 217, 116);

}